# APP CONFIGURATION
APP_NAME="IDS Elder Rehab"
APP_VERSION="1.0.0"
APP_BUILD_NUMBER="1"
APP_DESCRIPTION="Aplikasi mobile rehabilitasi fisik digital berbasis Flutter"
APP_ENV_MODE="development"

# API CONFIGURATION (BASE API, API KEY, ETC)
# API_BASE_URL=""
# API_KEY=""